@page "/"
@using System.Timers
@using ShimmerChatLib.Models
@inject IThemeService ThemeService
@inject ILocService Loc
@implements IDisposable
<div id="bg-region" style="background-image: url('@BackgroundImagePath')">
	<div id="main-content">
		<div id="title">
			@Loc["home.title"]
		</div>
		<div id="time">
			<p>@currentTime</p>
		</div>
	</div>

</div>

@code {
	private string currentTime = DateTime.Now.ToString("T");
	private Timer? timer;
	private string BackgroundImagePath => ThemeService.CurrentTheme.IsDarkMode ? "/shimmer-chat-bg.png" : "/shimmer-chat-bg-light-theme.png";

	protected override void OnInitialized()
	{
		// 每隔一秒更新一次时间
		timer = new Timer(1000);
		timer.Elapsed += UpdateTime!;
		timer.AutoReset = true;
		timer.Enabled = true;
		
		// 订阅主题变更事件
		ThemeService.OnThemeChanged += HandleThemeChanged;
	}
	
	private void HandleThemeChanged(Theme _)
	{
		// 触发组件重新渲染，更新背景图片
		InvokeAsync(StateHasChanged);
	}

	private void UpdateTime(object source, ElapsedEventArgs e)
	{
		currentTime = DateTime.Now.ToString("T");
		InvokeAsync(StateHasChanged); // 请求刷新 UI
	}

	public void Dispose()
	{
		// 停止计时器
		timer?.Stop();
		timer?.Dispose();
		
		// 取消订阅主题变更事件
		ThemeService.OnThemeChanged -= HandleThemeChanged;
	}
}
