@inject IPluginPanelService PluginPanelService
@inject ILocService Loc

<div class="plugin-panel-container">
    @foreach (var item in PluginPanelInfos)
    {
        <details class="plugin-item">
            <summary class="plugin-summary">
                <span class="plugin-name">@Loc[item.NameKey]</span>
                <span class="plugin-arrow bi bi-chevron-down"></span>
            </summary>
            @if (!string.IsNullOrEmpty(item.DescriptionKey))
            {
                <p class="plugin-description">@Loc[item.DescriptionKey]</p>
            }
            <div class="plugin-content">
                <DynamicComponent Type="item.PanelType" Parameters="Parameters"/>
            </div>
        </details>
    }
</div>

@code {
    [Parameter]
    public PanelDisplayPlace PanelDisplayPlace { get; set; }

    [Parameter]
    public Dictionary<string, object> Parameters { get; set; } = new();

    List<PluginPanelInfo> PluginPanelInfos;

    protected override void OnInitialized()
    {
        this.PluginPanelInfos = PluginPanelService.GetPluginPanels()
            .Where(x => x.PanelDisplayPlace == PanelDisplayPlace)
            .ToList();
    }
}
