@using Markdig
@using Markdig.Extensions.Tables
@using Newtonsoft.Json.Linq

@inject IStringLocalizer<Message> l
@inject IJSRuntime JS


<div class="shimmer-message shimmer-toolcall">
	<div class="shimmer-message-head">
		<h3>⚙️</h3>
	</div>
	<div class="toolcall-content">
		@foreach (var toolCall in message?.message?.toolCalls ?? [])
		{
			<div class="toolcall-item">
				<div class="toolcall-name">
					<span class="toolcall-badge">@toolCall.name</span>
				</div>
				@if (!string.IsNullOrEmpty(toolCall.arguments))
				{
					<div class="toolcall-arguments">
						<JsonTreeView Token="ParseArguments(toolCall.arguments)" DefaultExpandLevel="1" />
					</div>
				}
			</div>
		}
	</div>
</div>


@code {

	[Parameter]
	public ShimmerChatLib.Message message { get; set; } = null!; // The message object to display

	string sender => message.sender;

	private JToken ParseArguments(string arguments)
	{
		try
		{
			return JToken.Parse(arguments);
		}
		catch
		{
			return JValue.CreateString(arguments);
		}
	}
}
