@inject IKVDataService KVData
@attribute [PluginPanel("panel.tokenizer_api", "panel.tokenizer_api.desc")]

<div class="shimmer-group" style="padding:12px;">
	<div class="su-form-group">
		<label class="su-label">Model</label>
		<input class="su-input" type="text" @bind="Model" placeholder="./tokenizer.json" />
	</div>
</div>



@code {
    string? Model
    {
        get;
        set{
            field = value;
            Save();
        }
    }

    bool Initialized
    {
        get;
        set;
    }


    void Save(){
        if(!Initialized)
            return;
        KVData.Write("Tokenize", "local_vocab_path", Model);
    }


    protected override void OnInitialized()
    {
        Model = KVData.Read("Tokenize", "local_vocab_path");
        Initialized = true;
    }
}
